
/* Navbar */
.container{
    margin: 1px;
    padding: 10px;
    justify-content:space-around;
   
.navbar{
    display: flex;
    justify-content:space-around;
}
.logo{
    height: 50px;
    width: 70px;
}
}
.list{
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
.list-item{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font:small;   
    color: rgb(255, 196, 0);
}
.button-small{
    background-color: red;
    color:white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* Hero Section */
.hero-heading{
    font-size: 115px;
    padding-left: 180px;
    padding-right: 180px;
    text-align: center;
    color:rgb(255, 196, 0);
    
}
.button-large{
    background-color: red;
    color: white;
    margin-bottom: 60px;
    padding: 20px 40px;
    display: block;
    margin: 0 auto;
    
    
    
}

.fix{
    position: fixed;
    right: 50px;
    bottom: 20px;
    height: auto;
    width: 150px;
}